@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
}

section {
    position: relative;
    background-color: transparent;
    backdrop-filter: blur(10px);
    width: 600px;
    height: 600px;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
}

section > h1 {
    font-size: 3em;
    margin: 60px;
    font-weight: bold;
}

section > form > div.input-box > input {
    position: relative;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid white;
    padding: 15px;
    width: 400px;
    color: white;
    margin: 30px;
    outline: none;

}

section > form > div.input-box {
    position: relative;
}

section > form > input {
    display: block;
    margin: 40px auto;
}

section > form > div#termos {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

section > form > div#termos > input[type="checkbox"] {
    appearance: none; /* Remove o estilo padrão (pode não funcionar em alguns navegadores.)*/
    -webkit-appearance: none; /* Compatibilidade com WebKit (pode não funcionar em alguns navegadores.)*/
    width: 22px;
    margin: 0px 10px;
    height: 22px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: white;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.3s ease;
}

section > form > div#termos > input[type="checkbox"]:checked {
    background-color: transparent;
    border-color: white;
  }

section > form > div#termos > input[type="checkbox"]:checked::after {
    content: '';
    display: block;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: relative;
    top: 1px;
    left: 6px;
}

section > form > input[type="submit"] {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    width: 300px;
    height: 40px;
}

section > form > input[type="submit"]:hover {
    cursor: pointer;
}
